<mat-card-content>
    <div style="text-align:  right;">
            <button mat-raised-button color="primary" (click)="addProductMaster()" [disabled]="dialogRef"> + Add Product</button>
    </div>
    <br>

    <!-- <div class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>
      
      <div class="example-container mat-elevation-z8">
      
        <mat-table [dataSource]="dataSource" matSort>

          
      
          <!-- ID Column ->
          <ng-container matColumnDef="product_id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.product_id}} </mat-cell>
          </ng-container>

          <!-- Name Column ->
          <ng-container matColumnDef="createdon">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Created ON </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.createdon}} </mat-cell>
            </ng-container>
        
      <!-- ID Column ->
      <ng-container matColumnDef="abbr">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Abbr </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.abbr}} </mat-cell>
        </ng-container>
    

          <!-- Name Column ->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="updatedon">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>updatedon</th>
              <td mat-cell *matCellDef="let row">{{row.updatedon}}</td>
          </ng-container>
      
      
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;">
          </mat-row>
        </mat-table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>-->
      
      
      <!-- Copyright 2018 Google Inc. All Rights Reserved.
          Use of this source code is governed by an MIT-style license that
          can be found in the LICENSE file at http://angular.io/license -->
<div>
  <!-- <mat-table [dataSource]="dataSource">  -->
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="product_id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.product_id}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="abbr">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Abbrevation </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.abbr}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="createdon">
      <mat-header-cell *matHeaderCellDef mat-sort-header> createdon </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.createdon}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="fk_createdby">
        <mat-header-cell *matHeaderCellDef mat-sort-header> createdby </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.fk_createdby}} </mat-cell>
      </ng-container>  
      <ng-container matColumnDef="updatedon">
        <mat-header-cell *matHeaderCellDef mat-sort-header> updated on </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.updatedon}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="fk_updatedby">
        <mat-header-cell *matHeaderCellDef mat-sort-header> updatedby </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.fk_updatedby}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="isactive">
        <mat-header-cell *matHeaderCellDef mat-sort-header> isactive </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.isactive}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let user">
              <button mat-raised-button mat-icon-button class="mr-1 mb-1 hover-icon" matTooltip="Edit" matTooltipPosition="above" (click)="editProductMaster(user)"><mat-icon>edit</mat-icon></button>
              <button mat-raised-button mat-icon-button class="mr-1 mb-1 hover-icon" matTooltip="Delete" matTooltipPosition="above" (click)="deleteProductMaster(user.product_id)"><mat-icon>delete_outline</mat-icon></button>
          </mat-cell>
      </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>

<br>

<!--- corrected 3 <div class="mat-elevation-z8 my-datatable">
    <table mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">
      <!-- Id Column -->
      <!-- <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>amount</th>
        <td mat-cell *matCellDef="let row">{{row.amount}}</td>
      </ng-container> -->
  
      <!-- <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <!-- <td mat-cell *matCellDef="let row">{{row.id}}</td> ->
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>
  
      <!-- Name Column ->
      <ng-container matColumnDef="product_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Product ID</th>
        <!-- <td mat-cell *matCellDef="let row">{{row.name}}</td> ->
        <td mat-cell *matCellDef="let row">{{row.product_id}}</td>
      </ng-container>
  
      <ng-container matColumnDef="abbr">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>abbr</th>
        <!-- <td mat-cell *matCellDef="let row">{{row.name}}</td> ->
        <td mat-cell *matCellDef="let row">{{row.abbr}}</td>
      </ng-container>
  
      <ng-container matColumnDef="createdon">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>createdon</th>
        <!-- <td mat-cell *matCellDef="let row">{{row.name}}</td> ->
        <td mat-cell *matCellDef="let row">{{row.createdon}}</td>
      </ng-container>
  
      <ng-container matColumnDef="fk_createdby">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Created By</th>
        <!-- <td mat-cell *matCellDef="let row">{{row.name}}</td> ->
        <td mat-cell *matCellDef="let row">{{row.fk_createdby}}</td>
      </ng-container>
  
      <ng-container matColumnDef="updatedon">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>updatedon</th>
        <!-- <td mat-cell *matCellDef="let row">{{row.name}}</td> ->
        <td mat-cell *matCellDef="let row">{{row.updatedon}}</td>
      </ng-container>
  
      <ng-container matColumnDef="isactive">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>isactive</th>
        <!-- <td mat-cell *matCellDef="let row">{{row.name}}</td> ->
        <td mat-cell *matCellDef="let row">{{row.isactive}}</td>
      </ng-container>
  
      <ng-container matColumnDef="fk_updatedby">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>fk_updatedby</th>
        <!-- <td mat-cell *matCellDef="let row">{{row.amount}}</td> ->
        <td mat-cell *matCellDef="let row">{{row.fk_updatedby}}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
          <td mat-cell *matCellDef="let row">
              <button mat-raised-button mat-icon-button class="mr-1 mb-1 hover-icon" matTooltip="Edit" matTooltipPosition="above" (click)="editProductMaster(user)"><mat-icon>edit</mat-icon></button>
              <button mat-raised-button mat-icon-button class="mr-1 mb-1 hover-icon" matTooltip="Delete" matTooltipPosition="above" (click)="deleteProductMaster(user.product_id)"><mat-icon>delete_outline</mat-icon></button>
          </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    
    <mat-paginator [pageSizeOptions]="[5, 10, 15, 20, 25]" showFirstLastButtons></mat-paginator>
  </div>

<!-- <div datatable class="row-border hover">
    <table>
           <thead>
              <th>No</th>
              <th>Product ID</th>
              <th>Product Name</th>
              <th>Product Abbreviation</th>
              <th>Action</th>
            </thead>

        <tr *ngFor="let PM of TTarray; let i=index">
            <td style="text-align:  center;">{{i+1}}</td>
            <td style="text-align:  center;">{{PM.product_id}}</td>
            <td style="text-align:  center;">{{PM.name}}</td>
            <td style="text-align:  center;">{{PM.abbr}}</td>
        </tr>
      </table>

  </div> -->



    <!--<div datatable class="example-container mat-elevation-z8">
          <table>
                 <thead>
                    <th header-cell>No</th>
                    <th header-cell>Product ID</th>
                    <th header-cell>Product Name</th>
                    <th header-cell>Product Abbreviation</th>
                    <th header-cell>Action</th>
                  </thead>
  
            <!- <tr *ngFor="let PM of ProductMasterList; let i=index" class="body-cell">
                <td style="text-align:  center;">{{i+1}}</td>
                <td style="text-align:  center;">{{PM.ProductName}}</td>
                <td style="text-align:  center;">{{PM.ProductAbbr}}</td>
                <td style="text-align:  center;">
                    <button mat-raised-button mat-icon-button class="mr-1 mb-1 hover-icon" matTooltip="Edit" matTooltipPosition="above" (click)="editProductMaster(PM.ID)"><mat-icon>edit</mat-icon></button>
                    <button mat-raised-button mat-icon-button class="mr-1 mb-1 hover-icon" matTooltip="Delete" matTooltipPosition="above" (click)="deleteProductMaster(PM.ID)"><mat-icon>delete_outline</mat-icon></button>
                </td>
              </tr> 
              <tr *ngFor="let PM of Temp; let i=index" class="body-cell">
              <tr *ngFor="let PM of TTarray; let i=index" class="body-cell">
                  <td style="text-align:  center;">{{i+1}}</td>
                  <td style="text-align:  center;">{{PM.product_id}}</td>
                  <td style="text-align:  center;">{{PM.name}}</td>
                  <td style="text-align:  center;">{{PM.abbr}}</td>
              </tr>
            </table>

        </div>-->
        <br> 

        
   <!-- <div class="example-container mat-elevation-z8">

            <div class="example-header">
                <mat-form-field>
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>
              </div>
            
        
             <table mat-table [dataSource]="dataSource" matSort>
                <!-- <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8"> -->
          
              <!-- Sno Column ->
              <ng-container matColumnDef="product_id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Product ID. </th>
                <td mat-cell *matCellDef="let element"> {{element.product_id}} </td>
              </ng-container>
          
              <!-- Name Column ->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>
              
              <!-- Name Column ->
              <ng-container matColumnDef="abbr">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Abbrevation </th>
                  <td mat-cell *matCellDef="let element"> {{element.abbr}} </td>
              </ng-container>

                <!-- Name Column ->
                <ng-container matColumnDef="createdon">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Created On </th>
                  <td mat-cell *matCellDef="let element"> {{element.createdon}} </td>
                </ng-container>

              <!-- Abbr Column ->
              <ng-container matColumnDef="fk_createdby">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Created By </th>
                  <td mat-cell *matCellDef="let element"> {{element.fk_createdby}} </td>
              </ng-container>

              <ng-container matColumnDef="updatedon">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Updated On </th>
                  <td mat-cell *matCellDef="let element"> {{element.updatedon}} </td>
              </ng-container>

              <ng-container matColumnDef="fk_updatedby">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Updatedby </th>
                  <td mat-cell *matCellDef="let element"> {{element.fk_updatedby}} </td>
              </ng-container>

              <ng-container matColumnDef="isactive">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Isactive </th>
                  <td mat-cell *matCellDef="let element"> {{element.isactive}} </td>
              </ng-container>


               <!-- Action Column ->
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                    <button mat-raised-button mat-icon-button class="mr-1 mb-1 hover-icon" matTooltip="Edit" matTooltipPosition="above" (click)="editProductMaster(element.ID)"><mat-icon>edit</mat-icon></button>
                    <button mat-raised-button mat-icon-button class="mr-1 mb-1 hover-icon" matTooltip="Delete" matTooltipPosition="above" (click)="deleteProductMaster(element.ID)"><mat-icon>delete_outline</mat-icon></button>
                </td>
              </ng-container>
          
              
              <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 15, 20, 25]" showFirstLastButtons></mat-paginator>
      </div> -->

   


   
</mat-card-content>