<div class="mb-1">
    <h2 mat-dialog-title>Company &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <button mat-raised-button mat-icon-button class="mr-1 mb-1 hover-icon" matTooltip="Close" matTooltipPosition="above"  (click)="onNoClick()"><mat-icon>close</mat-icon></button>
    </h2>
</div>
  
  
  <form [formGroup]="_companyForm" (submit)="onSubmit()">
  
      <div class="form-group">
            <mat-dialog-content>
              <!-- displayedColumns = ['company_id', 'name', 'addressline1', 'addressline2','addressline3', 'city', 'state',  'pincode', 'logo']; -->
              <div class="mb-1"> 
                    <mat-form-field style="width: 100%">
                          <input matInput type="text" placeholder="Company Name" required [formControl]="_companyForm.controls['name']">
                          <mat-error *ngIf="!_companyForm.controls['name'].valid && _companyForm.controls['name'].touched" class="mat-text-warn">You must include a Name.</mat-error>
                    </mat-form-field>
              </div>
              <div class="mb-1"> 
                  <mat-form-field style="width: 100%">
                        <input matInput type="text" placeholder="Company addressline1" required [formControl]="_companyForm.controls['addressline1']">
                        <mat-error  *ngIf="!_companyForm.controls['addressline1'].valid && _companyForm.controls['addressline1'].touched" class="mat-text-warn">You must include a addressline1.</mat-error>
                  </mat-form-field>
                  
            </div>
            <div class="mb-1"> 
                <mat-form-field style="width: 100%">
                      <input matInput type="text" placeholder="Company addressline2" required [formControl]="_companyForm.controls['addressline2']">
                      <mat-error *ngIf="!_companyForm.controls['addressline2'].valid && _companyForm.controls['addressline2'].touched" class="mat-text-warn">You must include a Name.</mat-error>
                </mat-form-field>
                
          </div>
          <div class="mb-1"> 
              <mat-form-field style="width: 100%">
                    <input matInput type="text" placeholder="Company addressline3" required [formControl]="_companyForm.controls['addressline3']">
                    <mat-error *ngIf="!_companyForm.controls['addressline3'].valid && _companyForm.controls['addressline3'].touched" class="mat-text-warn">You must include a Name.</mat-error>
              </mat-form-field>
              
        </div>
        <div class="mb-1"> 
            <mat-form-field style="width: 100%">
                  <input matInput type="text" placeholder="City" required [formControl]="_companyForm.controls['city']">
                  <mat-error *ngIf="!_companyForm.controls['city'].valid && _companyForm.controls['city'].touched" class="mat-text-warn">You must include a City.</mat-error>
            </mat-form-field>
            
      </div>
      <div class="mb-1"> 
          <mat-form-field style="width: 100%">
                <input matInput type="text" placeholder="Pin code" required [formControl]="_companyForm.controls['pincode']">
                <mat-hint>pincode should be in 6 digit format</mat-hint>
                <!-- <mat-error *ngIf="_companyForm.controls['pincode'].hasError('required') && _companyForm.controls['pincode'].touched" class="mat-text-warn">You must include phone number.</mat-error> -->
                <!-- <mat-error *ngIf="!_companyForm.controls['pincode'].valid && _companyForm.controls['pincode'].touched" class="mat-text-warn">You must include a pincode number.</mat-error> -->
                <mat-error *ngIf="_companyForm.controls['pincode'].hasError('minlength') && form.controls['pincode'].touched" class="mat-text-warn">Your pincode must be at least 5 characters long.</mat-error>
                <mat-error *ngIf="_companyForm.controls['pincode'].hasError('maxlength') && form.controls['pincode'].touched" class="mat-text-warn">Your pincode name cannot exceed 6 characters.</mat-error>
          </mat-form-field>
          
    </div>
    <div class="mb-1"> 
        <mat-form-field style="width: 100%">
              <input matInput type="text" placeholder="state" required [formControl]="_companyForm.controls['state']">
              <mat-error *ngIf="!_companyForm.controls['state'].valid && _companyForm.controls['state'].touched" class="mat-text-warn">You must include a State.</mat-error>
        </mat-form-field>
        
  </div>
  <div class="mb-1"> 
      <mat-form-field style="width: 100%">
            <input matInput type="text" placeholder="logo" required [formControl]="_companyForm.controls['logo']">
            <mat-error *ngIf="!_companyForm.controls['logo'].valid && _companyForm.controls['logo'].touched" class="mat-text-warn">You must include a logo.</mat-error>
      </mat-form-field>
      
</div>
              
              
              <br>
              <div class="row" style="text-align:right;">
                      <button mat-raised-button mat-icon-button class="mr-1 mb-1 hover-icon" matTooltip="Reset" matTooltipPosition="above"  type="reset" ><mat-icon>settings_backup_restore</mat-icon></button>        
                      <button mat-raised-button mat-icon-button class="mr-1 mb-1 hover-icon" matTooltip="Save" matTooltipPosition="above"   type="submit"  [disabled]="!_companyForm.valid"><mat-icon>save</mat-icon></button>        
                      <!-- <button mat-button >RESET</button> -->
              </div>
      
            </mat-dialog-content>
      </div>
      
  </form>