<!-- <div class="mb-1">
    <h2 mat-dialog-title>Branch &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <button mat-raised-button mat-icon-button class="mr-1 mb-1 hover-icon" matTooltip="Close" matTooltipPosition="above"  (click)="onNoClick()"><mat-icon>close</mat-icon></button>
    </h2>
</div> -->
<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="35px"
     fxLayoutGap.xs="0">
  <div class="mat-dialog-title" fxFlex="15px">Branch</div>
  <div fxFlex="20px" fxFlexOrder="3" style="text-align:right;"><button mat-raised-button mat-icon-button class="mr-1 mb-1 hover-icon" matTooltip="Close" matTooltipPosition="above"  (click)="onNoClick()"><mat-icon>close</mat-icon></button></div>
  <div fxFlex></div>
</div>

  <!-- {{empresas|json}} -->
  
  <form [formGroup]="_branchForm" (submit)="onSubmit()">
  
      <div class="form-group">
            <mat-dialog-content>

              <div class="mb-2"> 
                              <mat-form-field>
                                    <!-- <ngx-select-dropdown  [multiple]="false" [value]="citydatas.city_id"  [options]="citydatas" ></ngx-select-dropdown> -->
                                    <mat-select placeholder="Pick Up City name" required [formControl]="_branchForm.controls['fk_city_id']">
                                                <!-- <mat-option (click)="onChangedData()" *ngFor="let masters of masterArray" [value]="masters.value" [disabled]="masters.disabled"> -->
                                                     <mat-option  *ngFor="let cd of citydatas"  [value]="cd.city_id">{{ cd.name }}</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="!_branchForm.controls['fk_city_id'].valid && _branchForm.controls['fk_city_id'].touched" class="mat-text-warn">You must Pickup City Name.</mat-error>
                              </mat-form-field>
                              <!-- <small *ngIf="!_branchForm.controls['fk_city_id'].valid && _branchForm.controls['fk_city_id'].touched" class="mat-text-warn">You must Pickup City Name.</small> -->
              </div>

              <div class="mb-1"> 
                    <mat-form-field>
                          <input matInput type="text" placeholder="Branch Name" required [formControl]="_branchForm.controls['name']">
                          <mat-error *ngIf="!_branchForm.controls['name'].valid && _branchForm.controls['name'].touched">You must inculde a Name</mat-error>
                    </mat-form-field>
                    <!-- <small *ngIf="!_branchForm.controls['name'].valid && _branchForm.controls['name'].touched" class="mat-text-warn">You must include a Name.</small> -->
              </div>
              
              <!-- <div class="mb-1"> 
                        <mat-form-field style="width: 100%">

                              tate_id: "1", fk_region_id: "1", name: "TamilNadu", code: "TN", createdon: "2018-08-07 15:10:00", …}
1
:
{state_id: "2", fk_region_id: "0", name: "one edited", code:
                              <input matInput type="text" placeholder="City Name" required [formControl]="_branchForm.controls['fk_city_id']">
                        </mat-form-field>
                        <small *ngIf="!_branchForm.controls['fk_city_id'].valid && _branchForm.controls['fk_city_id'].touched" class="mat-text-warn">You must include a City Name.</small>
                  </div> -->

              <br>
              <div class="row" style="text-align:right;">
                      <button mat-raised-button mat-icon-button class="mr-1 mb-1 hover-icon" matTooltip="Reset" matTooltipPosition="above"  type="reset" ><mat-icon>settings_backup_restore</mat-icon></button>        
                      <button mat-raised-button mat-icon-button class="mr-1 mb-1 hover-icon" matTooltip="Save" matTooltipPosition="above"   type="submit"  [disabled]="!_branchForm.valid"><mat-icon>save</mat-icon></button>        
                      <!-- <button mat-button >RESET</button> -->
              </div>
      
            </mat-dialog-content>
      </div>
  </form>