<!-- <div class="mb-1">
    <h2 mat-dialog-title>Title &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <button mat-raised-button mat-icon-button class="mr-1 mb-1 hover-icon" matTooltip="Close" matTooltipPosition="above"  (click)="onNoClick()"><mat-icon>close</mat-icon></button>
    </h2>
</div> -->
<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="35px"
     fxLayoutGap.xs="0">
  <div class="mat-dialog-title" fxFlex="15px">Title</div>
  <div fxFlex="20px" fxFlexOrder="3" style="text-align:right;"><button mat-raised-button mat-icon-button class="mr-1 mb-1 hover-icon" matTooltip="Close" matTooltipPosition="above"  (click)="onNoClick()"><mat-icon>close</mat-icon></button></div>
  <div fxFlex></div>
</div>

  
  
  <form [formGroup]="_titleForm" (submit)="onSubmit()">
  
      <div class="form-group">
            <mat-dialog-content>

              <div class="mb-1"> 
                    <mat-form-field style="width: 100%">
                          <input matInput type="text" placeholder="Title" required [formControl]="_titleForm.controls['name']">
                          <mat-error *ngIf="!_titleForm.controls['name'].valid && _titleForm.controls['name'].touched" class="mat-text-warn">You must include a Title.</mat-error>
                    </mat-form-field>
               
              </div>
              <br>
              <div class="row" style="text-align:right;">
                      <button mat-raised-button mat-icon-button class="mr-1 mb-1 hover-icon" matTooltip="Reset" matTooltipPosition="above"  type="reset" ><mat-icon>settings_backup_restore</mat-icon></button>        
                      <button mat-raised-button mat-icon-button class="mr-1 mb-1 hover-icon" matTooltip="Save" matTooltipPosition="above"   type="submit"  [disabled]="!_titleForm.valid"><mat-icon>save</mat-icon></button>        
                      <!-- <button mat-button >RESET</button> -->
              </div>
      
            </mat-dialog-content>
      </div>
      
  </form>