<div *ngIf="loader">
    <mat-progress-bar mode="indeterminate" color="accent" class="mb-1"></mat-progress-bar>

 </div>
 <div style="text-align: right;">
        <button mat-raised-button color="primary" (click)="addRegister()" > + Add Register</button>
</div>
 <mat-card>
<div datatable>
  <table style="border-collapse: collapse">
         <thead>
            <th style="text-align:  center;">No</th>
            <th style="text-align:  center;">FirstName</th>
            <th style="text-align:  center;">Email</th>
            <th style="text-align:  center;">Mobile No</th>
            <th style="text-align:  center;">Action</th>
            <th style="text-align:  center;">Isactive</th>
          </thead>

      <tr *ngFor="let us of userdata; let i=index" >
          <td style="text-align:  center;">{{i+1}}</td>
          
          <td style="text-align:  center;">{{us.user_first_name}} {{us.user_last_name}}</td>
          <td style="text-align:  center;">{{us.email}}</td>
          <td style="text-align:  center;">{{us.mobile_no}}</td>
          <td style="text-align:  center;font-size: 20px"><a (click)="editUserDetails(us.userid,us.aws_name)"><i class="fa fa-pencil"></i></a></td>
         
          <td *ngIf="us.isactive ==1" style="text-align:  center;"><a (click)="isactive(us.userid,us.aws_name)"><i class="fa fa-check-circle active"></i></a></td>
          
                <td *ngIf="us.isactive ==0" style="text-align:  center;"><a (click)="isactive(us.userid,us.aws_name)"><i class="fa fa-times-circle deactive"></i></a></td>
      </tr>
    </table>

</div>
 </mat-card>
