table {
    width: 100%;
  }
  
  th { 
    text-align: left;
  }
.active{
  padding-left: 6px;
    color: green;
    font-size: 20px;
}
.deactive{
  padding-left: 6px;
    color: red;
    font-size: 20px;
}