/* Structure */
.example-container {
    display: flex;
    flex-direction: column;
    min-width: 30px;
  }
  
  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
 //mat-cell{
 .cell{
    display:flex !important;
    justify-content:center!important;
    
  }
  
 // mat-header-cell {
    .header-cell{
    display:flex;
    justify-content:center;
  }